.sidepanel{
    background-color: #000;
    height: 100vh;
    width: 20vw;
    position: absolute;
    left: 4%;
}

.board{
    height: 100vh;
    width: 100vw;
    background-color: green ;
}

.card_box{
    background-color: red;
    height: 25vh;
    width: 68vw;
    position: absolute;
    bottom: 0;
    right: 4%;
    display: flex;
    justify-content: space-between;
}