.card{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-content: center;
}

.card__img{
    width: 100%;
    height: auto;
}

.selected{
    border: 10px solid blue !important;
}