.card__img{
    height: auto;
    width: 90%;
}

.card{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: aquamarine;
    border: 10px solid black !important;
}